.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.time-control {
  display: flex;
  width: 50%;
  input {
    width: 100%;
    // padding: 1rem 0rem;
    margin-top: 25px;
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: linear-gradient(to right,#FABA8C,#FDDB9A); /* Grey background */
    outline: none; /* Remove outline */
    // opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    border-radius: 1rem;
  }
  p {
    padding: 1rem;
  }
}
.play-control {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  svg {
    cursor: pointer;
  }
}

input[type="range"]:focus {
  border: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #0000007a; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  @media screen and (max-width:768px) {
    .time-control{
      width: 90%;
    }    
    .play-control{
      width: 60%;
    }
  }